/** button start **/

@import "../node_modules/ces-theme/src/scss/variables";

.warpbtn {
  position: fixed;
  z-index: 9998;
  top: 45%;
  right: -1px;
  width:30px;
  height:44px;
  background-image: url(images/arrow.png);
  cursor: pointer;
}

.warpbtn:hover {
  background-image: url(images/arrow_invert.png);
}

.warpbtn-open {
  right: 239px;
  background-image: url(images/arrow_back.png);
}

.warpbtn-open:hover {
  right: 239px;
  background-image: url(images/arrow_back_invert.png);
}

.warpbtn a {
  width: 30px;
  height: 44px;
  display: block;
  border-bottom: none;
}

/** button end **/

.warpmenu-logo {
  margin-top: 15px;
  width: 170px;
  height: 52px;
  background-image: url(images/blib-white-160px.png);
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 74px;
}

.warpmenu {
  font-family: $font-family-sans-serif !important;
  background: $brand-primary-darker;
  /*border-left: 1px solid #00A5E2;*/
  position: fixed;
  font-size: 12px;
  line-height: 21px;
  border-top: 5px solid $brand-primary;
}

.warpmenu-home {
    padding: 0 0 1px 0;
    margin: 20px 0 0 0;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: inherit;
}

.warpmenu-home a {
    text-align: center;
    border: 0;
    padding: 0;
}

.warpmenu h3 {
    font-size: 14px;
    color: $white;
    padding: 20px 0 5px 5px;
    margin:0;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    background-color: inherit;
}

.warpmenu h3::before{
	content: "\25BC  ";
}

.warpmenu h3.warpmenu-category-open::before{
	content: "\25B6  ";
}

/* .warpmenu h3::after{
	content: " \25BC";
}

.warpmenu h3.warpmenu-category-open::after{
	content: " \25C0";
} */

.warpmenu h3:hover{
	cursor: pointer;
}

ul.warpmenu-collapsed {
    display: none;
}

.warpmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.warpmenu li {
    display: block;
    border-bottom: 1px solid $brand-primary;
}

.warpmenu li a {
  padding: 10px;
  display: block;
  color: $white;
  font-weight: 300;
  text-decoration: none;
  text-align: left;
  border-bottom: none;
}

.warpmenu-link:hover {
    background: $brand-primary;
}

.warpmenu li:active {
    background: $brand-primary;
    color: $white;
}

/* Orientation-dependent styles for the content of the menu */

.warpmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 9999;
}

li.warpmenu-link-top {
    border-top: 1px solid $brand-primary;
}

/* Vertical menu that slides from the left or right */

.warpmenu-right {
    right: -240px;
}

.warpmenu-right.warpmenu-open {
    right: 0;
}

/* Push classes applied to the body */

.warpmenu-push {
    /*overflow-x: hidden;*/
    position: relative;
    left: 0;
}

.warpmenu-push-toleft {
    left: -240px;
}

/* Transitions */
.warpmenu,
.warpmenu-push,
.warpbtn {
    transition: left 0.3s ease, right 0.3s ease;
}
