[submodule "containers/cockpit"]
	path = containers/cockpit
	url = https://github.com/cloudogu/cockpit
[submodule "containers/smeagol"]
	path = containers/smeagol
	url = https://github.com/cloudogu/smeagol
[submodule "containers/sonar"]
	path = containers/sonar
	url = git@github.com:cloudogu/sonar.git
[submodule "containers/redmine"]
	path = containers/redmine
	url = git@github.com:cloudogu/redmine.git
[submodule "containers/postfix"]
	path = containers/postfix
	url = git@github.com:cloudogu/postfix.git
[submodule "containers/jenkins"]
	path = containers/jenkins
	url = git@github.com:cloudogu/jenkins.git
[submodule "containers/nginx"]
	path = containers/nginx
	url = git@github.com:cloudogu/nginx.git
[submodule "containers/scm"]
	path = containers/scm
	url = https://github.com/cloudogu/scm.git
[submodule "containers/postgresql"]
	path = containers/postgresql
	url = git@github.com:cloudogu/postgresql.git
