[submodule "containers/cockpit"]
	path = containers/cockpit
	url = git@github.com:cloudogu/cockpit
[submodule "containers/smeagol"]
	path = containers/smeagol
	url = git@github.com:cloudogu/smeagol
[submodule "containers/sonar"]
	path = containers/sonar
	url = git@github.com:cloudogu/sonar.git
[submodule "containers/redmine"]
	path = containers/redmine
	url = git@github.com:cloudogu/redmine.git
[submodule "containers/postfix"]
	path = containers/postfix
	url = git@github.com:cloudogu/postfix.git
[submodule "containers/jenkins"]
	path = containers/jenkins
	url = git@github.com:cloudogu/jenkins.git
[submodule "containers/nginx"]
	path = containers/nginx
	url = git@github.com:cloudogu/nginx.git
[submodule "containers/scm"]
	path = containers/scm
	url = git@github.com:cloudogu/scm.git
[submodule "containers/postgresql"]
	path = containers/postgresql
	url = git@github.com:cloudogu/postgresql.git
[submodule "containers/base"]
	path = containers/base
	url = git@github.com:cloudogu/base.git
[submodule "containers/ldap"]
	path = containers/ldap
	url = git@github.com:cloudogu/ldap.git
[submodule "containers/usermgt"]
	path = containers/usermgt
	url = git@github.com:cloudogu/usermgt.git
[submodule "containers/nexus"]
	path = containers/nexus
	url = git@github.com:cloudogu/nexus.git
[submodule "containers/cas"]
	path = containers/cas
	url = git@github.com:cloudogu/cas.git
[submodule "containers/java"]
	path = containers/java
	url = git@github.com:cloudogu/java.git
[submodule "containers/swaggerui"]
	path = containers/swaggerui
	url = git@github.com:cloudogu/swaggerui.git
[submodule "containers/ldap-mapper"]
	path = containers/ldap-mapper
	url = git@github.com:cloudogu/ldap-mapper.git
[submodule "containers/plantuml"]
	path = containers/plantuml
	url = git@github.com:cloudogu/plantuml.git
[submodule "containers/registrator"]
	path = containers/registrator
	url = git@github.com:cloudogu/registrator.git
