.vagrant
.bundle
.vagrant.rb
setup.json

#IDEA related
.idea/
*.iml

# editor backups
*~
\#*\#

# dogus
containers/
!containers/.gitkeep

images/prod/build
images/prod/output-*
images/dev/build
images/dev/output-*
