#!/bin/sh

exec consul-template \
     -consul=$(cat /etc/ces/ip_addr):8500 \
     -template "/etc/consul-templates/nginx.conf:/etc/nginx/conf.d/app.conf:sv hup nginx"
