server {
  include /etc/nginx/include.d/ssl.conf;

  # default proxy settings
  proxy_set_header Host $http_host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto https;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Scheme $scheme;
  proxy_set_header X-Real-IP $remote_addr;
  # disable gzip encoding for proxy applications
  proxy_set_header Accept-Encoding identity;

  include /etc/nginx/include.d/warp.conf;

  {{if exists "/services/universeadm/registrator:universeadm:8080"}}
  # redirect to /universeadm
  location / {
    return 301 https://$host/universeadm;
  }
  {{end}}

  # static stuff
  location /_static {
    root /var/www/html;
  }

  # services
{{range $topkey := lsdir "/services"}}{{$topdir := printf "/services/%s/*" $topkey}}{{range $dir := getvs $topdir}}{{$service := json $dir}}{{range $tag := $service.tags}}{{if eq $tag "webapp"}}
  location /{{$service.name}} {
    proxy_pass http://{{$service.service}};
  }
{{end}}{{end}}{{end}}{{end}}
  # end of services
}
